.red {
  background-color: red !important;
}

.blue {
  background-color: blue !important;
}

.green {
  background-color: green !important;
}

.yellow {
  background-color: yellow !important;
}

.purple {
  background-color: purple !important;
}

.black {
  background-color: black !important;
}

.padding {
  padding: 10px;
}
