// Sizes
$width: 1170px; // Container/App width
$pad: 18px;


// Colors
$color-typo: rgba(35, 31, 32, 1);          // Raisin Black
$color-primary: rgba(187, 68, 48, 1);      // Medmium Carmine
$color-secondary: rgba(126, 189, 194, 1);  // Moonstone Blue
$unk: rgba(243, 223, 162, 1);              // Medium CHampagne
//$color-background: rgba(239, 230, 221, 1); // Eggshell
$color-background: gainsboro;