main {
  #hero {
    background-color: $color-primary;
    padding: $pad;

    .row {
      margin-bottom: 0;
    }

    .module {
      background-color: darken($color-primary, 10) !important;
      color: $color-background;
      text-transform: uppercase;
      > div:first-child {
        margin: 0 0 $pad 0;
        text-align: center;
      }
    }
  }
}