// Sizes
$width: 1170px; // Container/App width

// Grid sizing variables
$col-1: 6.92307692307692%;   // 81px
$col-2: 15.38461538461540%;  // 180px
$col-3: 23.84615384615380%;  // 279px
$col-4: 32.30769230769230%;  // 378px
$col-5: 40.76923076923080%;  // 477px
$col-6: 49.23076923076920%;  // 576px
$col-7: 57.69230769230770%;  // 675px
$col-8: 66.15384615384620%;  // 774px
$col-9: 74.61538461538460%;  // 873px
$col-10: 83.07692307692310%; // 972px
$col-11: 91.53846153846150%; // 1070px
$col-12: 100%;
               // 1170px
// Grid Margin
$margin: 1.53846153846154%;  // 18px
