#alert-container {
  background-color: #b71c1c;
  color: #fff;
  padding: 10px;
  position: absolute;
  top: -200px;
  //top: 0;
  left: 0;
  width: 100%;
  transition: top .5s;
  z-index: 2000;
  
  i {
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    vertical-align: middle;
  }
  
  #alert-message {
    span:nth-child(2){
      margin-left: 5px;
      vertical-align: middle;
    }
  }
  
  button {
    background-color: transparent !important;
    color: #ccc;  
    margin-left: 10px;
    padding: 0;
    transition: color .5s;
    vertical-align: middle;
  }
  
  button:disabled {
    color: green;
  }
  
  
  button:disabled:hover {
    color: green;
  }
  
  button:hover {
    color: #fff;
  }
}

 #alert-menu {
   display: none;
   transition: all .5s;
   
    button {
    }
    
    button:active {
    }
    
    button:hover {
      
    }
  }
  
  #alert-menu ul {
    width: 100%;
    
    li:first-child {
      button {
        margin: 0;
      }
       i {
         font-size: 2em;
       }
       text-align: left;
    }
  
    li:first-child,
    li:last-child {
      width: 20%;
    }
    
    li:nth-child(2) {
      font-size: .8em;
      padding-top: 5px;
      text-align: center;
      width: 60%;
    }
    
    li:last-child {
      i {
        font-size: 2em;
       }
      text-align: right;
    }
    
  }
  