// Smaller than tablet
@media (max-width: 600px) {
  #action {
    margin-bottom: 100px;
    padding: 100px;


    .col-4-12 {
      width: 100%;
    }
  }
}

// Tablet portrait
@media (max-width: 720px) {
  
}

// Tablet landscape
@media (min-width: 721px) AND (max-width: 959px) { 
  
}

//Desktop
// Window large
@media (min-width: 960px) {

}
